<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiKey" value="8CIRH4UAUYOA12Y2"/>
		<add key="BaseApiUrl" value="https://www.alphavantage.co/query?function=GLOBAL_QUOTE"/>
		<add key="PollingIntervalInMinutes" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="PortfolioDBConnectionString" connectionString="Data Source={AppDir}\Database\Portfolio.sqlite"/>
	</connectionStrings>
</configuration>